/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: url('../images/LogoFormulario.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container styles */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Form styles */
.formulario {
    background: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.formulario h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}

.Group {
    margin-bottom: 1rem;
    text-align: left;
}

.Group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #000000;
}

.Group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.Group input:focus {
    border-color: #007bff;
}

.Ingresar {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Ingresar:hover {
    background-color: #0056b3;
}
